<div class="checkout-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1470753937643-efeb931202a9?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
</div>

<div class="container">
  <h4 class="checkout-title">CHECKOUT</h4>
  <div class="recap">
    <% @bookings.each do |booking| %>
    <div class="row recap-line d-flex">
      <div class="col-10 recap-infos">
      <h5 class="recap-title"><%= booking.group.activity.title %></h5>
      <p class="recap-dates"> <%= booking.group.date.strftime("%d/%m/%y - %H:%M")  %> </p>
      </div>
      <div class="col-2 recap-price text-center">
        <h5 class=""><%= humanized_money_with_symbol(booking.group.activity.price) %></h5>
        <h5> <a data-method="delete" href="<%= bookings_destroy_path(booking) %>"><i class="fas fa-trash-alt"></i></a> </h6>
      </div>
    </div>
    <% end %>
  </div>

  <div class="recap">
    <div class="row recap-line d-flex">
      <div class="col-10 recap-infos">
      <h5 class="recap-title">TOTAL</h5>
      </div>
      <% total_price = 0 %>
      <% @bookings.each do |booking| %>
      <% total_price += ((booking.group.activity.price_cents) / 100) %>
      <% end %>
      <h5 class="col-2 recap-price text-center"> <%= total_price %>€ </h5>
    </div>
  </div>
</div>
