<div class="checkout-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1470753937643-efeb931202a9?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
My groups
</div>

<div class="container">
  <div class="activity-btns">
    <button class="activity-btn active" id="btn-pending">Pending</button>
    <button class="activity-btn" id="btn-paid">Upcoming</button>
    <button class="activity-btn" id="btn-past" >Past</button>
  </div>

<!-- DISPLAY GROUPS PENDING -->

  <div class="activity-cards" id="pending">
<!-- DISPLAY GROUPS PAID BUT NOT FILLED YET -->
    <% if @bookings_pending.count > 0 %>
      <br>
      <div class="infos-group">These activities are still pending, groups are not filled yet!</div>
      <br>

      <% @bookings_pending.each do |booking| %>
        <div class="row day-card d-flex">
          <div class="col-2 day booking-day d-flex align-items-center justify-content-center">
            <div>
              <div><%= booking.group.date.strftime("%b")  %> </div>
              <div id="day-orange"><%= booking.group.date.strftime("%d")%> </div>
            </div>
          </div>
          <div class="col-10 group-infos">
            <div class="group-title"><%=booking.group.activity.title%></div>
            <div class="hour-price d-flex justify-content-between">
              <div><%= booking.group.date.strftime("%H:%M")  %></div>
              <div class="group-new-price"><strong><%= booking.quantity %> x <%= humanized_money(booking.group.activity.price) %>€</strong></div>
            </div>
            <div class="infos-group"><em><%= booking.group.spots %> people still need to join this group!</em></div>
          </div>
        </div>
      <% end %>
    <% end %>

<!-- DISPLAY GROUPS NOT PAID AND NOT FILLED YET -->
    <% if @bookings_to_pay.count > 0 %>
      <br>
      <div class="infos-group" style="border-top: 1px solid grey; padding-top: 20px">These activities are still in your cart, go to <%= link_to "checkout", checkout_path %> to pay for them in order to reserve your spot.</div>
      <br>

      <% @bookings_to_pay.each do |booking| %>
        <div class="row day-card d-flex">
          <div class="col-2 day booking-day d-flex align-items-center justify-content-center">
            <div>
              <div><%= booking.group.date.strftime("%b")  %> </div>
              <div id="day-orange"><%= booking.group.date.strftime("%d")%> </div>
            </div>
          </div>
          <div class="col-10 group-infos">
            <div class="group-title"><%=booking.group.activity.title%></div>
            <div class="hour-price d-flex justify-content-between">
              <div><%= booking.group.date.strftime("%H:%M")  %></div>
              <div class="group-new-price"><strong><%= booking.quantity %> x <%= humanized_money(booking.group.activity.price) %>€</strong></div>
            </div>
            <div class="infos-group"><em><%= booking.group.days_left %> day left to pay for this activity!</em></div>
            <div class="infos-group"><em><%= booking.group.spots %> people still need to join this group!</em></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

<!-- DISPLAY GROUPS PAID AND FILLED UPCOMING -->

  <div class="activity-cards" id="paid">
    <% if @bookings_confirmed.count > 0 %>
      <br>
      <div class="infos-group">Here are your upcoming groups!</div>
      <br>
    <% @bookings_confirmed.each do |booking| %>
      <div class="row day-card d-flex">
        <div class="col-2 day booking-day d-flex align-items-center justify-content-center">
          <div>
            <div><%= booking.group.date.strftime("%b")  %> </div>
            <div id="day-orange"><%= booking.group.date.strftime("%d")%> </div>
          </div>
        </div>
        <div class="col-10 group-infos">
          <div class="group-title"><%=booking.group.activity.title%></div>
          <div class="hour-price d-flex justify-content-between">
            <div><%= booking.group.date.strftime("%H:%M")  %></div>
            <div class="group-new-price"><strong><%= booking.quantity %> x <%= humanized_money(booking.group.activity.price) %>€</strong></div>
          </div>
        </div>
      </div>
    <% end %>
    <% else %>
      <br>
        <div class="infos-group">You don't have any confirmed group yet.</div>
      <br>
    <% end %>
  </div>

<!-- DISPLAY GROUPS PAID AND FILLED PAST -->

  <div class="activity-cards" id="past">
    <% if @bookings_past.count > 0 %>
      <br>
      <div class="infos-group">Here are your past groups, don't hesitate to leave a review!</div>
      <br>
      <% @bookings_past.each do |booking| %>
        <div class="row day-card d-flex">
          <div class="col-2 day booking-day d-flex align-items-center justify-content-center">
            <div>
              <div><%= booking.group.date.strftime("%b")  %> </div>
              <div id="day-orange"><%= booking.group.date.strftime("%d")%> </div>
            </div>
          </div>
          <div class="col-10 group-infos">
            <div class="group-title"><%=booking.group.activity.title%></div>
            <div class="hour-price d-flex justify-content-between">
              <div><%= booking.group.date.strftime("%H:%M")  %></div>
              <div class="group-new-price"><strong><%= booking.quantity %> x <%= humanized_money(booking.group.activity.price) %>€</strong></div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <br>
        <div class="infos-group">You don't have any past group yet.</div>
      <br>
    <% end %>
  </div>
</div>
