<div class="checkout-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @booking.group.activity.photo_url %>);">
Details
</div>
<br>
<div class="container">
  <div>
    <p>Here are the details of <strong><%= @booking.group.activity.title %></strong>!
    <br>
    <br>
    <div class="group-description">
      <div class="infos d-flex align-items-center mb-2">
        <i class="fas fa-clock symbol"></i>
        <div class="time">
          <%= @booking.group.date.strftime("%d %B %Y") %>
          <%= @booking.group.date.strftime("%H:%M") %>
        </div>
      </div>

      <div class="infos d-flex align-items-center mb-2">
        <i class="fas fa-map-marker symbol"></i>
        <%= @booking.group.activity.address %>
      </div>

      <div class="infos d-flex align-items-center mb-2">
        <i class="fas fa-coins symbol"></i>
        <p style="margin: 0;"> <%= humanized_money(@booking.group.activity.price)%>€ / person</p>
      </div>

      <div class="infos d-flex align-items-center mb-2">
        <i class="fas fa-users symbol"></i>
        <%= @booking.quantity %>
      </div>
    </div>

    <br>
    <% if @booking.group.completed == false %></p>
      <p class="info-activity-completed">Your group is not confirmed yet, after your payment, still <%= @booking.group.spots - @booking.quantity %> people will need to join! Check the updates in your profile - My groups.</p>
      <p class="info-activity-completed">You'll be fully refunded if your group is not complete after the deadline.</p>
    <% else %>
      The group is full! The activity is confirmed
    <% end %>

    <div class="div-checkout-button text-center">
    <%= link_to "GO TO MY CART", checkout_path, class:"go-to-checkout" %>
    </div>
  </div>
</div>
