<div class="checkout-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @booking.group.activity.photo_url %>);">
You joined a new group!
</div>
<br>
<div class="container">
  <div>
    <p>Congrats <% @booking.user.name %>! You booked <strong> <%= @booking.group.activity.title %></strong>!
    <br>
    <br>
    <div class="group-description">
      <div class="infos d-flex align-items-center mb-2">
        <i class="fas fa-clock symbol"></i>
        <div class="time">
          <%= @booking.group.date.strftime("%d %B %Y") %>
          <%= @booking.group.date.strftime("%H:%M") %>
        </div>
      </div>

      <div class="infos d-flex align-items-center mb-2">
        <i class="fas fa-map-marker symbol"></i>
        <%= @booking.group.activity.address %>
      </div>

      <div class="infos d-flex align-items-center mb-2">
        <i class="fas fa-coins symbol"></i>
        <p style="margin: 0;"> <%= humanized_money(@booking.group.activity.price)%>€ / person</p>
      </div>

      <div class="infos d-flex align-items-center mb-2">
        <i class="fas fa-users symbol"></i>
        <%= @booking.quantity %>
      </div>
    </div>

    <br>
    <% if @booking.group.completed == false %></p>
      <p class="info-activity-completed">The activity is not confirmed yet, still <%= @booking.group.spots %> people need to join the activity!</p>
      <p class="info-activity-completed">You will be able to check the updates after payment in your profile - My groups.</p>
    <% else %>
      The group is full! The activity is confirmed
    <% end %>

    <div class="div-checkout-button text-center">
    <%= link_to "GO TO MY CART", checkout_path, class:"go-to-checkout" %>
    </div>
  </div>
</div>
