<div class="checkout-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @booking.group.activity.photo_url %>);">
You joined a new group!
</div>
<br>
<div class="container">
  <div class="group-title">
    <p>Congrats <% @booking.user.name %>! You booked <strong> <%= @booking.group.activity.title %></strong>!
    <br>
    <div class="group-description">
      <div class="infos d-flex align-items-center mb-2">
        <i class="fas fa-clock symbol"></i>
        <div class="time">
          <%= @booking.group.date.strftime("%d %B %Y") %>
          <%= @booking.group.date.strftime("%H:%M") %>
        </div>
      </div>

      <div class="infos d-flex align-items-center mb-2">
        <i class="fas fa-map-marker symbol"></i>
        <%= @booking.group.activity.address %>
      </div>

      <div class="infos d-flex align-items-center mb-2">
        <i class="fas fa-coins symbol"></i>
        <p style="margin: 0;"> <%= humanized_money_with_symbol(@booking.group.activity.price)%> / person</p>
      </div>

      <div class="infos d-flex align-items-center mb-2">
        <i class="fas fa-users symbol"></i>
        <%= @booking.quantity %>
      </div>
    </div>

    <% if @booking.group.completed == false %></p>
      <p class="info-activity-completed">The activity is not confirmed yet, still <%= @booking.group.spots %> people need to join the activity! You can check the updates in <strong><%= link_to "My Groups", bookings_index_path, class:"no-link" %></strong>.</p>
    <% else %>
      The group is full! The activity is confirmed
    <% end %>

    <div class="div-checkout-button">
    <%= link_to "GO TO CHECKOUT", checkout_path, class:"go-to-checkout" %>
    </div>
  </div>
</div>
