<div class="container">
  <a class="btn btn-ghost" href="#">Categories</a>
  <a class="btn btn-ghost" href="#">Dates</a>
  <a class="btn btn-ghost" href="#">Price</a>
  <a class="btn btn-ghost" href="#">Participants</a>

<h4 style="color: #FD894A"><%= pluralize @activities.size, "Activity" %> in ... </h4>

    <!-- Div of all the cards in grid form -->

    <div class="activity-cards">
      <%  @activities.each do |activity| %>
      <a class="link-none" href="<%= activity_path(activity) %>">
      <div class="activity-card">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <div>
            <h3><%=activity.title.truncate(20)%></h3>
          </div>
          <div class="activity-pricing">
            <h5> <%= activity.initial_price %>€ </h5>
            <h5> <%= activity.discount %>€ </h5>
          </div>
        </div>
      </div></a>
      <% end %>
    </div>
</div>
