<div class="container">
<!--   <div class="filter-btn">
    <a class="btn btn-ghost" href="#">Categories</a>
    <a class="btn btn-ghost" href="#">Dates</a>
    <a class="btn btn-ghost" href="#">Price</a>
    <a class="btn btn-ghost" href="#">Participants</a>
  </div> -->
<% if params[:query].present? %>
  <h4 class="results-title"><%= pluralize @activities.size, "activity" %> in <%= params[:query] %></h4>
<% elsif params[:category].present? %>
  <h4 class="results-title"><%= pluralize @activities.size, "activity" %> for <%= params[:category] %></h4>
<% else %>
  <h4 class="results-title"><%= pluralize @activities.size, "activity" %> </h4>
<% end %>
    <!-- Div of all the cards in grid form -->

  <div class="activity-cards">
    <%  @activities.each do |activity| %>
      <a class="link-none" href="<%= activity_path(activity) %>">
        <div class="activity-card">
            <img src= <%=activity.photo_url %> />
          <div class="activity-infos">
            <h3 class="activity-title"><%=activity.title%></h3>
            <div class="activity-pricing">
              <h5 class="initial-price"> <%= activity.initial_price %>€ </h5>
              <h5 class="new-price"> <%= (activity.calcul_discount(activity.initial_price, activity.discount)).round %>€ </h5>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
