<div class="card-activity-title" style="background-image: url(<%= @activity.photo_url %>)"></div>

  <div class="activity-btns">
    <button class="activity-btn active" id="btn-join">Join a group</button>
    <button class="activity-btn" id="btn-description" >Description</button>
  </div>

  <div class="container">

  <br>

  <div id="description" class="tabcontent">
    <div class="show-title">
      <%= @activity.title %>
    </div>

    <br>

    <div class="about">
      <h3 class="show-subtitle">About</h3>
      <p> <%= @activity.description %> </p>
    </div>

    <br>

    <div class="map">
      <h3 class="show-subtitle">Map</h3>
      <p> <%= @activity.address %> </p>
      <div
        id="map"
        style="width: 100%;
        height: 300px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>

    <br>

    <div class="reviews">
      <h3 class="show-subtitle">Reviews</h3>
      <div class="review">
        <img src="https://kitt.lewagon.com/placeholder/users/arthur-littm" class="avatar-review">
        <div class="review-content">
          <p><em>I really recommend this activity, we had a really good time</em></p>
        </div>
      </div>
      <div class="review">
        <img src="https://kitt.lewagon.com/placeholder/users/arthur-littm" class="avatar-review">
        <div class="review-content">
          <p>I really recommend this activity, we had a really good time</p>
        </div>
      </div>
      <div class="review">
        <img src="https://kitt.lewagon.com/placeholder/users/arthur-littm" class="avatar-review">
        <div class="review-content">
          <p>I really recommend this activity, we had a really good time</p>
        </div>
      </div>
    </div>

  </div>

  <div id="join" class="tabcontent">

    <div class="show-title">
      <%= @activity.title %>
    </div>

    <br>

    <%= form_for @booking do |b| %>
      <% @groups.each do |day, group| %>

      <div class="day-card">

        <div class="day">
          <p><%= group.first.date.strftime("%b")  %> </p>
          <p id="day-orange"><%= group.first.date.strftime("%d")  %> </p>
        </div>

        <div class="times">
          <% group.each do |g| %>
            <div class="time text-center">
              <!-- <div class="time-each" data-check-id='<%= g.id %>'> -->

              <% if g.completed %>
                <div class="time-completed">
                  <p id="time"><%= g.date.strftime("%H:%M") %> </p>
                </div>
              <% else %>
                <div class="time-each" data-check-id='<%= g.id %>'>
                  <%= b.radio_button :group, g.id, id: "time radio-button", :checked => true, hidden: :true,  id: "check-g-#{g.id}" %>
                  <%= label :group, g.date.strftime("%H:%M"), id: "time-button"%>
                </div>
              <% end %>
              <p id="spots"> <%= g.spots %> spots </p>
            </div>
          <% end %>
          <br>
          <br>
        </div>

      </div>
      <% end %>
      <%= b.submit "Join this group!", class:"join-group", data: { confirm: "Are you sure?" }, id:"join-btn" %>
    <% end %>

        <script>
          const join = document.getElementById('join-btn');
          const buttons = document.querySelectorAll('.time-each');
          buttons.forEach(btn => {
            btn.addEventListener('click', (event) => {
              buttons.forEach(btn => {
                btn.classList.remove('time-selected')
              })
              event.currentTarget.classList.add('time-selected')
              const target = event.currentTarget.dataset.checkId
              document.getElementById(`check-g-${target}`).click()
              join.classList.add('join-group-selected')
            })
          })

        </script>
</div>
