<div class="card-activity-title" style="background-image: url(<%= @activity.photo_url %>)"></div>


  <div class="activity-btns">
    <div class="activity-btn active">
      <h4>Description</h4>
    </div>
    <div class="activity-btn passive">
      <h4>Join a group!</h4>
    </div>
  </div>

<div class="container">

  <br>

  <div class="show-title">
    <%= @activity.title %>
  </div>

  <br>

  <div class="about">
    <h3 class="show-subtitle">About</h3>
    <p> <%= @activity.description %> </p>
  </div>

  <br>

  <div class="reviews">
    <h3 class="show-subtitle">Reviews</h3>
    <div class="review">
      <img src="https://kitt.lewagon.com/placeholder/users/arthur-littm" class="avatar-review">
      <div class="review-content">
        <p><em>I really recommend this activity, we had a really good time</em></p>
      </div>
    </div>
    <div class="review">
      <img src="https://kitt.lewagon.com/placeholder/users/arthur-littm" class="avatar-review">
      <div class="review-content">
        <p>I really recommend this activity, we had a really good time</p>
      </div>
    </div>
    <div class="review">
      <img src="https://kitt.lewagon.com/placeholder/users/arthur-littm" class="avatar-review">
      <div class="review-content">
        <p>I really recommend this activity, we had a really good time</p>
      </div>
    </div>
  </div>

  <br>

  <div class="map">
    <h3 class="show-subtitle">Map</h3>
    <p> <%= @activity.address %> </p>
    <div
      id="map"
      style="width: 100%;
      height: 300px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>

    <%= form_for @booking do |b| %>
      <% @groups.each do |day, group| %>
      <div class="day-card">

        <div class="day">
          <p><%= group.first.date.strftime("%b")  %> </p>
          <p id="day-orange"><%= group.first.date.strftime("%d")  %> </p>
        </div>

        <div class="times">
          <% group.each do |g| %>
            <div class="time-each">
              <%= b.radio_button :group, g.id, id: "time", :checked => true %>
              <%= label :group, g.date.strftime("%H:%M") %>

              <%# b.radio_button :group, g.date.strftime("%H:%M"), id: "time", :checked => true %>
              <!-- <p id="time"><%= g.date.strftime("%H:%M") %> </p> -->
              <p id="spots"> 3 spots </p>
            </div>
          <% end %>
        </div>

      </div>
      <% end %>
      <%= b.submit "Join this group", class:"btn-submit ask-booking" %>
    <% end %>



</div>
