<div class="card-activity-title" style="background-image: url(<%= @activity.photo_url %>)"></div>

  <div class="activity-btns">
    <button class="activity-btn active" id="btn-description">Description</button>
    <button class="activity-btn" id="btn-join" >Join a group</button>
  </div>

  <div class="container">

  <br>

  <div id="description" class="tabcontent">
    <div class="show-title">
      <%= @activity.title %>
    </div>

    <br>

    <div class="about">
      <h3 class="show-subtitle">About</h3>
      <p> <%= @activity.description %> </p>
    </div>

    <br>

    <div class="map">
      <h3 class="show-subtitle">Map</h3>
      <p> <%= @activity.address %> </p>
      <div
        id="map"
        style="width: 100%;
        height: 300px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>

    <br>

    <div class="reviews">
      <h3 class="show-subtitle">Reviews</h3>
      <div class="reviews">
        <% @activity.reviews.first(5).each do |review| %>
              <div class="review-content">
                <h8 class="reviewtitle"><%= review.title %></h8>
                <p><% if review.rating == 5 %>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <% elsif review.rating == 4 %>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <% elsif review.rating == 3 %>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <% elsif review.rating == 2 %>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                 <% elsif review.rating == 1 %>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i></p>
                <% end %>
                <p class="reviewcontent"><%= review.content %></p>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
  <div id="join" class="tabcontent">

    <div class="show-title">
      <%= @activity.title %>
    </div>

    <%= form_for @booking do |b| %>
      <% @groups.each do |day, group| %>
      <% group.sort_by! { |group| group.date} %>
      <div class="day-card">

    <% if group.first.days_left >= 1 %>

        <div class="day">
          <p><%= group.first.date.strftime("%b")  %> </p>
          <p id="day-orange"><%= group.first.date.strftime("%d")  %> </p>
          <!-- This is for the days left -->
        </div>

        <div class="time-and-days">
          <div class="times">
            <% group.each do |g| %>
              <div class="time text-center">
                <!-- <div class="time-each" data-check-id='<%= g.id %>'> -->

                <% if g.completed %>
                  <!-- This is for the time -->
                  <div class="time-completed">
                    <p id="time"><%= g.date.strftime("%H:%M") %> </p>
                  </div>
                <% else %>
                  <div class="time-each" data-check-id='<%= g.id %>'>
                    <%= b.radio_button :group, g.id, id: "time radio-button", :checked => true, hidden: :true,  id: "check-g-#{g.id}" %>
                    <%= label :group, g.date.strftime("%H:%M"), id: "time-button"%>
                  </div>
                <% end %>
                <!-- This is for the spots left -->
                <% if g.spots == "full" %>
                <p id="spots"> <%= g.spots %> </p>
                <% else %>
                <p id="spots"> <%= g.spots %> spots </p>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="days-left">
            <% if group.first.days_left > 1 %>
              <p> <%= group.first.days_left %> days left to join</p>
            <% elsif group.first.days_left == 1 %>
              <p> <%= group.first.days_left %> day left to join</p>
            <% end %>
          </div>
        </div>
      <% end %>

      </div>
      <% end %>
      <button type="button" class="join-group" id="join-btn" data-toggle="modal" data-target="#exampleModal">
        Join this group!
      </button>

      <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Book for your friends!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="col-auto my-1">
                  <label class="mr-sm-2" for="inlineFormCustomSelect">How many people are you?</label>

                      <%= b.select :quantity, [1, 2, 3, 4, 5, 6]%>

                </div>
              </div>
              <div class="modal-footer">
                <!-- <button type="button" data-dismiss="modal">Close</button> -->
                <!-- <button type="button" class="btn btn-primary">Update</button> -->
                <%= b.submit "Update", class: "update-button"%>
              </div>
            </div>
          </div>
        </div>
      <%#= b.submit "Join this group!", class:"join-group", id:"join-btn", disabled: true %>
    <% end %>
  </div>
</div>


