<div class="card-activity-title" style="background-image: url(<%= @activity.photo_url %>)"></div>

  <div class="activity-btns">
    <button class="activity-btn active" id="btn-description">Description</button>
    <button class="activity-btn" id="btn-join" >Join a group</button>
  </div>

  <div class="container">

  <br>

  <div id="description" class="tabcontent">
    <div class="show-title">
      <%= @activity.title %>
    </div>

    <br>

    <div class="about">
      <h3 class="show-subtitle">About</h3>
      <p> <%= @activity.description %> </p>
    </div>

    <br>

    <div class="map">
      <h3 class="show-subtitle">Map</h3>
      <p> <%= @activity.address %> </p>
      <div
        id="map"
        style="width: 100%;
        height: 300px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>

    <br>

    <div class="reviews">
      <h3 class="show-subtitle">Reviews</h3>
      <div class="reviews">
        <% @activity.reviews.each do |review| %>
              <div class="review-content">
                <h8><%= review.title %></h8>
                <% if review.rating == 5 %>
                <div class= "stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                </div>
                <div class= "stars">
                <% elsif review.rating == 4 %>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                </div>
                <div class= "stars">
                <% elsif review.rating == 3 %>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                </div>
                <div class= "stars">
                <% elsif review.rating == 2 %>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                </div>
                <div class= "stars">
                 <% elsif review.rating == 1 %>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                 </div>
                <% end %>
                <p><%= review.content %></p>
              </div>
            <% end %>

        </div>
        <p> <%= link_to "Leave a review", new_booking_review_path(1), class:"btn-leave-review"%> </p>
      </div>
    </div>

  </div>

  <div id="join" class="tabcontent">

    <div class="show-title">
      <%= @activity.title %>
    </div>

    <br>

    <%= form_for @booking do |b| %>
      <% @groups.each do |day, group| %>
      <% group.sort_by! { |group| group.date} %>
      <div class="day-card">

        <div class="day">
          <p><%= group.first.date.strftime("%b")  %> </p>
          <p id="day-orange"><%= group.first.date.strftime("%d")  %> </p>
        </div>

        <div class="times">
          <% group.each do |g| %>
            <div class="time text-center">
              <!-- <div class="time-each" data-check-id='<%= g.id %>'> -->

              <% if g.completed %>
                <div class="time-completed">
                  <p id="time"><%= g.date.strftime("%H:%M") %> </p>
                </div>
              <% else %>
                <div class="time-each" data-check-id='<%= g.id %>'>
                  <%= b.radio_button :group, g.id, id: "time radio-button", :checked => true, hidden: :true,  id: "check-g-#{g.id}" %>
                  <%= label :group, g.date.strftime("%H:%M"), id: "time-button"%>
                </div>
              <% end %>
              <% if g.spots == "full" %>
              <p id="spots"> <%= g.spots %> </p>
              <% else %>
              <p id="spots"> <%= g.spots %> spots </p>
              <% end %>
            </div>
          <% end %>
          <br>
          <br>
        </div>

      </div>
      <% end %>
      <%= b.submit "Join this group!", class:"join-group", id:"join-btn", disabled: true %>
    <% end %>
</div>
