  <div class="container">
    <div class="checkout-banner" style="margin-top: 10px;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @booking.group.activity.photo_url %>);"></div>
    <div class="row justify-content-center">
      <div class="col-xs-12 col-md-5 shadow-sm p-3 mb-5 bg-white rounded" style="margin-top: 15px">
        <h2 class="text-center">Leave a review for this booking</h2>
        <%= simple_form_for([@booking, @review]) do |form| %>
          <%= form.input :title %>
          <%= form.input :content, as: :text %>
          <%= form.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>

          <div class="btn-submit form-actions text-center">
            <%= form.button :submit, "Leave a review" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
